<% if options.orientation == :horizontal %>{<% end %>
<table border="0" align="center" cellspacing="0.5" cellpadding="0" width="<%= NODE_WIDTH + 4 %>">
  <tr><td align="center" valign="bottom" width="<%= NODE_WIDTH %>"><font face="<%= FONTS[:bold] %>" point-size="11"><%= entity.comment %></font></td></tr>
  <% if attributes.any? %>
    <% attributes.each do |attribute| %>
      <tr><td align="left" width="<%= NODE_WIDTH %>" port="<%= attribute %>"><%= attribute.comment %> <font face="<%= FONTS[:italic] %>" color="grey60"><%= attribute.type_description %></font></td></tr>
    <% end %>
  <% end %>
  <% if public_methods %>
    <% public_methods.each do |method| %>
      <tr><td align="left" width="<%= NODE_WIDTH %>">+<%= method %>()</td></tr>
    <% end %>
  <% end %>
</table>
<% if options.orientation == :horizontal %>}<% end %>